.notice-toggle-btn{
  background: #000000;
  border: 1px solid black;
  border-radius: 0;
}

.active-notice {
  background: #000000;
  border-color: #00ba57;
}

  .notice-btn {
    background: #1b1b1b;
    color: white;
    padding: 4px 12px;
    border-radius: 7px;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
  }
  